name: TODO ci

on:
  push:
    branches:
      - main
 
jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mongo:
        image: mongo
        ports:
          - 27017:27017

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      # Backend
      - name: Install backend dependencies
        working-directory: ./backend
        run: npm install

      - name: Wait for MongoDB
        run: |
          for i in {1..10}; do
            nc -z localhost 27017 && echo "MongoDB is up!" && break
            echo "Waiting for MongoDB..."
            sleep 2
          done

      - name: Run backend tests
        working-directory: ./backend
        env:
          MONGO_URL: mongodb://mongo:27017/Todo2
        run: npx jest

      # Frontend
      - name: Install frontend dependencies
        working-directory: ./frontend
        run: npm install

      - name: Run frontend tests
        working-directory: ./frontend
        run: npm test
